body{
    width: 100%;
    max-width:400px;
    max-height: 800px;
    position: relative;
    border-style: solid;
    border-color: red;
    margin: 0px;
    font-family:'Lucida Sans';
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
}

