@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    width: 100%;
    /*border-style: solid;
    border-color: red;*/
    margin: 0px;
    overflow-x: hidden;
    background-color: #fafafa;
}

.top{
    display: flex;
}

#clear{
    font-size: 0.9em;
    margin-top: 8%;
    margin-left: 45%;
    text-align:center;
    cursor: pointer;
    /*border-color: red;*/
    border-style: solid;
    width:10%;
    border-radius: 2vw;
    width:20%;
}


#close{
    text-decoration: none;
    margin-left: 20%;
    margin-top: 8%;
    font-size: 1.4em;
    font-weight:bolder;
    color: black;
    cursor: pointer;
    border-radius: 2vw;
    background-color: #fcbd3a;
    border-style: solid;
    border-color: black;
    height: 10%;
}



h1{
    margin-top: -12%;
    margin-left: 5%;
    font-size: 1.8em;
}

#divCalifornia{
    /*border-color: aqua;
    border-style: solid;*/
    display:flex;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right:5%;
    background-color: #f9f2f2;
    border-radius: 6vw;
}



#divGreek{
    /*border-color: aqua;
    border-style: solid;*/

    margin-bottom: 1%;
    margin-left: 5%;
    margin-right:5%;
    background-color: #f9f2f2;
    border-radius: 6vw;
    display: flex;
}
#divSicilian{
    /*border-color: aqua;
    border-style: solid;*/

    margin-bottom: 1%;
    margin-left: 5%;
    margin-right:5%;
    background-color: #f9f2f2;
    border-radius: 6vw;
    display: flex;

}
#divLouis{
    /*border-color: aqua;
    border-style: solid;*/
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right:5%;
    background-color: #f9f2f2;
    border-radius: 6vw;
    display: flex;

}


.pizza{
    /*border-color: green;
    border-style: solid;*/
    width:30%;    
}
.pizzainfo {
    /*border-color: red;
    border-style: solid;*/
    width:30%
}

.quantity {
    /*border-color: yellow;
    border-style: solid;*/
    width:35%;
}

.pizzafoto {
    width:90%;
}

h4{
    color: rgb(128, 128, 128);
    font-size: 0.8em;
    margin-left:7%;
    margin-top: 25%;

}

h3{
    font-size: 1em;
    margin-left: 7%;
    
}

.quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.morebut {
    width:23%;
    height:25%;
    text-align: center;
    font-size: 1.3em;
    border-radius: 50%;
    cursor: pointer;
}

.lessbut {
    width:23%;
    height:25%;
    text-align: center;
    font-size: 1.3em;
    border-radius: 50%;
    cursor: pointer;
}
.morebut:hover{
    background-color: #ffda80;
}
.lessbut:hover {
    background-color: #ffda80;
}

.morebut:active{
    background-color: #ffda80;

}
.lessbut:active{
    background-color: #ffda80;

}


h5{
    font-size: 1.5em;
    font-weight: 100;
}

.textfinal{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: -7%;
    text-align: center;
}

.textfinaltotal{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: -4%;
    border-top: rgb(130, 130, 130);
    border-style: solid;
    border-bottom: 0em;
    border-left: 0em;
    border-right: 0em;
}

h6{
    color: rgb(186, 186, 186);
    font-size: 0.9em;
    margin-top: 10%;
    margin-bottom: 2%;
}

.price{
    margin-top: 8.5%;
    font-size: 1.2em;
    text-align: center;
}

.total{
    color: rgb(186, 186, 186);
    font-size: 0.9em;
    margin-top: 5%;
    margin-bottom: 2%;
}
.pricetotal{
    margin-top: 5%;
    font-size: 1.2em;
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
}
.finalbutton {
    margin-top: -2%;
    background-color: #fcbd3a;
    font-size: 2em;
    color: rgb(20, 19, 19);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10vw;
    text-decoration: none;
    border-style: inherit;
}


/*///////////////////////////////////////////////MEDIA QUERIES/////////////////////////////////////////////////////////////*/

@media only screen and (min-width: 1100px) {

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    width: 100%;
    /*border-style: solid;
    border-color: red;*/
    margin: 0px;
    overflow-x: hidden;
    background-color: #fafafa;
}

.top{
    display: flex;
}

#clear{
    font-size: 1em;
    margin-top: 3%;
    margin-left: 42%;
    text-align:center;
    cursor: pointer;
    /*border-color: red;*/
    border-style: solid;
    width:10%;
    border-radius: 2vw;
}

#close{
    text-decoration: none;
    margin-left:35%;
    margin-top: 3%;
    font-size: 1.4em;
    font-weight:bolder;
    color: black;
    cursor: pointer;
    border-radius: 2vw;
    background-color: #fcbd3a;
    border-style: solid;
    border-color: black;
}


h1{
    margin-top: -3%;
    margin-left: 5%;
    font-size: 1.8em;
}

#divCalifornia{
    /*border-color: aqua;
    border-style: solid;*/
    display:flex;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right:5%;
    background-color: #f9f2f2;
    border-radius: 6vw;
    width: 45%;
}



#divGreek{
    /*border-color: aqua;
    border-style: solid;*/

    margin-bottom: 1%;
    margin-left: 10%;
    margin-right:5%;
    background-color: #f9f2f2;
    border-radius: 6vw;
    display: flex;
    width: 45%;
}
#divSicilian{
    /*border-color: aqua;
    border-style: solid;*/

    margin-bottom: 1%;
    margin-left: 10%;
    margin-right:5%;
    background-color: #f9f2f2;
    border-radius: 6vw;
    display: flex;
    width: 45%;

}
#divLouis{
    /*border-color: aqua;
    border-style: solid;*/
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right:5%;
    background-color: #f9f2f2;
    border-radius: 6vw;
    display: flex;
    width: 45%;

}


.pizza{
    /*border-color: green;
    border-style: solid;*/
    width:20%;    
}
.pizzainfo {
    /*border-color: red;
    border-style: solid;*/
    width:20%
}

.quantity {
    /*border-color: yellow;
    border-style: solid;*/
    margin-left: 20%;
    width:35%;
}

.pizzafoto {
    width:90%;
}

h4{
    color: rgb(128, 128, 128);
    font-size: 1.2em;
    margin-left:7%;
    margin-top: 12%;

}

h3{
    font-size: 1.2em;
    margin-left: 7%;
    
}

.quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.morebut {
    width:15%;
    height:25%;
    padding-top: 1%;
    text-align: center;
    font-size: 1.3em;
    border-radius: 50%;
    cursor: pointer;
}

.morebut:hover{
    background-color: #ffda80;
}
.lessbut:hover{
    background-color: #ffda80;

}


.lessbut {
    width:15%;
    height:25%;
    padding-top: 1%;
    text-align: center;
    font-size: 1.3em;
    border-radius: 50%;
    cursor:pointer;
}

.morebut:active{
    background-color: #ffda80;

}
.lessbut:active{
    background-color: #ffda80;

}


h5{
    font-size: 1.5em;
    font-weight: 100;
}

.textfinal{
    display: flex;
    justify-content: space-between;
    margin-left:60%;
    margin-top: 0%;
    width:30%;
}

.textfinaltotal{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: -4%;
    border-top: rgb(130, 130, 130);
    border-style: solid;
    margin-left:60%;
    margin-top: 0%;
    margin-right: 10%;
}

h6{
    color: rgb(186, 186, 186);
    font-size: 1.8em;
    margin-top: 9%;
    margin-bottom: 2%;
}

.price{
    margin-top: 8.5%;
    font-size: 1.8em;
    text-align: center;
}

.total{
    color: rgb(186, 186, 186);
    font-size: 1.8em;
    margin-top: 5%;
    margin-bottom: 2%;
}
.pricetotal{
    margin-top: 5%;
    font-size: 1.8em;
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
    margin-top:3%;
    margin-left: 50%;
}
.finalbutton {
    margin-top: -2%;
    background-color: #fcbd3a;
    font-size: 2em;
    color: rgb(20, 19, 19);
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10vw;
    text-decoration: none;
    border-style: inherit;
    cursor: pointer;
}

.finalbutton:hover{
    background-color: #b78a2a;
    font-size: 2.2em;
}

section{
    display: flex;
    flex-direction:column;
    margin-top: -35%;
}






}




