@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    width: 100%;
    /*border-style: solid;
    border-color: red;*/
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
    background-color: #fafafa;
}

.top{
    display: flex;
}

h2{
    font-size: 1em;
    margin-top: 7%;
    margin-left: 5%;
    width: 50%;
    text-align:start;
}

.close{
    text-decoration: none;
    margin-left: 30%;
    margin-top: 6%;
    font-size: 1.2em;
    font-weight:bolder;
}

h1{
    margin-top: 0%;
    margin-left: 5%;
    font-size: 1.8em;
}

.item{
    /*border-color: aqua;
    border-style: solid;*/
    display: flex;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right:5%;
    background-color: #f9f2f2;
    border-radius: 6vw;
}

.pizza{
    /*border-color: green;
    border-style: solid;*/
    width:30%;    
}
.pizzainfo {
    /*border-color: red;
    border-style: solid;*/
    width:30%
}

.quantity {
    /*border-color: yellow;
    border-style: solid;*/
    width:35%;
}

.pizzafoto {
    width:100%;
}

h4{
    color: rgb(128, 128, 128);
    font-size: 0.8em;
    margin-left:7%;
    margin-top: 25%;

}

h3{
    font-size: 1em;
    margin-left: 7%;
    
}

.quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.more {
    width:23%;
    height:25%;
    text-align: center;
    font-size: 1.3em;
    border-radius: 50%;
}

.more:hover{
    background-color: #ffda80;

}

h5{
    font-size: 1.5em;
    font-weight: 100;
}

.textfinal{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: -7%;
    text-align: center;
}

.textfinaltotal{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: -4%;
    border-top: rgb(130, 130, 130);
    border-style: solid;
    border-bottom: 0em;
    border-left: 0em;
    border-right: 0em;
}

h6{
    color: rgb(186, 186, 186);
    font-size: 0.9em;
    margin-top: 10%;
    margin-bottom: 2%;
}

.price{
    margin-top: 8.5%;
    font-size: 1.2em;
    text-align: center;
}

.total{
    color: rgb(186, 186, 186);
    font-size: 0.9em;
    margin-top: 5%;
    margin-bottom: 2%;
}
.pricetotal{
    margin-top: 5%;
    font-size: 1.2em;
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
}
.finalbutton {
    background-color: #fcbd3a;
    font-size: 2em;
    color: rgb(20, 19, 19);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10vw;
    text-decoration: none;
}




